
body{
  background-color: black;
}

div img{
    width: 100%;
    display: block;
    border: 5px solid #F7F6BB;

}

div {
    width: 50%;
    padding: 30px;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 90px;
    text-transform: uppercase;
    color: white;
    margin: 2px 25%;
}

/* ol{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 2 25%;
} */

p{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 0 25%;
}

hr{
    margin: 0 22%;
    color: gold;
}
  
/* li {
list-style-position: inside; /* This will move the bullet points inside the list item 
} 
*/
